<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./static/style.css">
</head>


</head>

<body>
  <div id="messageBox">

    <div id="messages"></div>
    <div id="ref"></div>
  </div>
  <button onclick="fun()">hey</button>
  <button onclick="exit()">leave</button>
  <p id="para"></p>
  <p id="st"></p>
  <form id="form" action="">
    <input id="input" autocomplete="off" autofocus placeholder="Type messages" /><button>Send</button>
  </form>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./static/client.js"></script>

</html>